<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>О Нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<header th:insert="blocks/header2 :: header2"></header>
<body class="u-body">
    <div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Первая игрушка</h2>
            <p class="lead">«Softoys»&nbsp;— это воплощение нашего представления о качественном, высокотехнологичном и надежном интернет-магазине. Стремление к совершенству поддерживает нас с самого начала и определяет направления дальнейшего развития. Мы знаем, что важен каждый продукт, и стараемся сделать весь процесс покупки максимально приятным и удобным. Убедитесь в этом сами.</p>
        </div>
        <div class="col-md-5">
            <img th:src="@{../img/girlBear.png}" width="500" height="500" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#eee"></rect>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Дети наше всё!</h2>
            <p class="lead">«Softoys»&nbsp;— это магазин №1 на рынке мягких игрушек в Краснодаре. Наши цены, хоть и выше, чем в других магазинах, но все наши товары производятся исключительно на заказ из высококачественных гипоаллергенных материалов. Весь процесс создания игрушки обговаривается строго с заказчиком, чтобы ребенок получил максимальное удовольствие и радость от подаренной ему игрушки без опасности его здоровью. «Softoys»&nbsp;работает только с проверенными временем поставщиками материалов.  </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img th:src="@{../img/girlBear2.png}" width="500" height="500" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#eee"></rect>
        </div>
    </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    </body>
</html>




