<div th:fragment="sidebar">
<body>
<sidebares class="navbar-nav d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
  <div class="list-group list-group-flush border-bottom scrollarea " style="width: 280px">
  <a class="list-group-item text-primary py-3 ">
    <div class="" aria-current="true">
      <img th:src="@{../img/2730163.png}" width="26" height="26" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <strong class="mb-1">Категории товаров</strong>
    </div>
  </a>
    <a href="/miniToys" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Маленькие игрушки</strong>
      </div>
    </a>
    <a href="/voiceToys" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Говорящие игрушки</strong>
      </div>
    </a>
    <a href="/ekzotica" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Экзотические животные</strong>
      </div>
    </a>
    <a href="/bigToys" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Большие мягкие игрушки</strong>
      </div>
    </a>
    <a href="/softBouquets" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Мягкие букеты</strong>
      </div>
    </a>
    <a href="/other" class="list-group-item list-group-item-action py-2 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Разное</strong>
      </div>
    </a>
  </div>
</sidebares>

<!--<div class="d-flex flex-column flex-shrink-0 p-1 position-fixed" style="width: 320px; height: 635px">-->
<!--  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none">-->
<!--    <span class="fs-4">Категория товаров</span>-->
<!--  </a>-->
<!--  <hr>-->
<!--  <ul class="nav nav-pills flex-column mb-auto ">-->
<!--    <li>-->
<!--      <a href="/miniToys" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Маленькие игрушки</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr>-->
<!--      <a href="/voiceToys" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Говорящие игрушки</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr>-->
<!--      <a href="/ekzotica" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Экзотические игрушки</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr>-->
<!--      <a href="#" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Большие мягкие игрушки</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr>-->
<!--      <a href="#" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Мягкие букеты</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr>-->
<!--      <a href="#" class="nav-link link-dark" aria-current="true">-->
<!--        <h6>Разное</h6>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <hr>-->
<!--  <a class="">-->
<!--    <img class="offset-4" th:src="@{../img/2730163.png}" width="100" height="100" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">-->
<!--  </a>-->
<!--</div>-->
<style>
sidebares {
  position: fixed;
}
</style>
</body>
</div>